label {
  margin-left: 100px;
  background-color: red;
  width: max-content;
}
body {
  counter-reset: sec;
}
input {
  opacity: 0;
}
input:checked {
  counter-increment: sec;
}
input:checked + label{
  background-color: blueviolet;
}
p:after {
  content: counter(sec);
}
