/* h1 {
  font-size: 24px;
  color: darkgrey;
}
h2 {
  color: darkgrey;
}
p {
  font-style: italic;
}
li {
  color: blue;
} */
p {
  text-transform: capitalize; /*bas herifleri boyuk*/
  text-transform: lowercase; /*butun herfleri kicik*/
  text-transform: uppercase; /*butun herifler boyuk*/
  /* text-align: right; */
  /* line-height: 10px;
  word-spacing: 10px;
  letter-spacing: 10px; */
}
span {
  vertical-align: super;
}
a {
  /* text-decoration: overline; */
  /* text-decoration: line-through wavy red 6px;
  text-decoration-style: dashed; */
  text-decoration: none;
  color: rgb(197, 18, 18);
  font-size: 30px;
}
